.header_aboutus {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 20rem;
  margin-bottom: 25rem;
  user-select: none;
}

.logo {
  height: 20rem;
}

.header_aboutus h1 {
  font-size: 7rem;
}

.header_aboutus p {
  font-size: 5rem;
}

.founder h2 {
  font-weight: 600;
}

.content p {
  line-height: 1.5;
}
.content p,
.founder {
  font-size: 2rem;
}
.content,
.founder {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 5rem;
  align-items: flex-start;
}

.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
