.content {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 5rem;
}

.header {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 100vh;
  padding-top: 20rem;
  user-select: none;
}

.header h1 {
  font-size: 10rem;
}

.header p {
  font-size: 5rem;
}

.uparrow img {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background-color: white;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
}

.button {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  user-select: none;
}

.artist-content {
  font-size: 3rem;
}

.image {
  height: 50rem;
  width: 70rem;
  object-fit: contain;
}

.name {
  font-size: 3rem;
  font-weight: bold;
}

.link {
  margin-top: 4rem;
  width: 100%;
  text-align: center;
}

.infolink:link,
.infolink:visited,
.musiclink:link,
.musiclink:visited {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  height: 4.5rem;
  width: 25rem;
  padding: 0.8rem;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 3px solid white;
  margin-bottom: 5rem;
}

.infolink:hover,
.musiclink:hover {
  background-color: white;
  color: black;
}
